{% extends "base.html" %}

{% block content %}

<main>
    <article class="recipe-detail">
        <h1>{{ recipe.title }}</h1>
        <div>
            <p>Rating: {{ average_rating }} ({{ recipe.rating_count }} votes)</p>
        </div>
        <form method="post">
            {% csrf_token %}
            <label for="rating">Rate this recipe:</label>
            <select name="rating" id="rating" required>
                <option value="1">1 Star</option>
                <option value="2">2 Stars</option>
                <option value="3">3 Stars</option>
                <option value="4">4 Stars</option>
                <option value="5">5 Stars</option>
            </select>
            <button type="submit">Submit Rating</button>
        </form>
        <section class="recipe-info">
            <img src="{{ recipe.image.url }}" alt="Recipe Image">
            <p>{{ recipe.description }}</p>
            <!-- Ingredients and Preparation -->
            <div class="preparation">
                <h2>Ingredients</h2>
                <ul>
                    <li>Ingredient 1</li>
                    <li>Ingredient 2</li>
                    <li>Ingredient 3</li>
                </ul>
            </div>
            <div class="preparation">
                <h2>Preparation</h2>
                <ul>
                    <li>Step 1</li>
                    <li>Step 2</li>
                    <li>Step 3</li>
                </ul>
            </div>
        </section>
    </article>
</main>

{% endblock %}