/* General styles */
html,
body {
    font-family: "Inter", sans-serif;
    height: 100vh;
    margin: 0;
    padding: 0;
}

h1,
h2, h3 {
    font-family: "Indie Flower", cursive;
    margin-top: 5rem;
    margin-bottom: 3rem;
}

.heading {
    color:#333 !important;
}

header {
    height: 10vh;
    background-color: #333;
    color: #ddd;
    padding: 20px 10px;
}

section {
    padding: 2em 1em;
    text-align: center;
}

.section-title {
    color: #ff6f61;
    margin-bottom: 30px;
}


/* Buttons */
.btn-hero {
    display: inline-block;
    padding: 0.5em 1em;
    background-color: #e74716;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 1em;
}

.btn-hero:hover {
    background-color: #e74716;
    color: black;
}

.btn-custom {
    padding: 0.5em 1em;
    background-color: #ff5722;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(51, 51, 51, 0.2), 0 6px 20px rgba(51, 51, 51, 0.1);
    border: none;
}

.btn-custom:hover {
    background-color: #e74716;
    color: #fff;
}

/* Navbar */
.navbar {
    padding-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 0 0.5em;
    position: relative;
    z-index: 1000;
}

.navbar-collapse {
    background-color: rgba(51, 51, 51, 0.7);
    width: 100%;
    padding: 0;
    transition: all 0.3s ease-in-out;
}

.navbar-nav .nav-item {
    margin-left: 1rem;
}

li.nav-item a {
    color: rgb(203, 177, 152) !important;
}

li.nav-item a:hover{
    color: rgb(85, 63, 70) !important;
}

.navbar-light .navbar-nav .nav-link.active {
    color: #f8f9fa !important;
}

.navbar-toggler-icon {
    filter: invert(1);
}

button.navbar-toggler {
    border-color: #f8f9fa !important;
}

ul.dropdown-menu.show {
    background-color:rgba(51, 51, 51, 0.7) !important;
}

.login-status {
    align-self: center;
    text-align: right;
}

.form-label {
    padding-left: 5px;
}


/* Hero Section */
.hero {
    background-image: url('/static/images/background.jpeg');
    background-size: cover;
    background-position: center center;
    min-height: 95vh;
    background-color: rgba(0, 0, 0, 0.3);
    color: #370a0a;
    text-align: center;
}

.hero-content {
    max-width: 800px;
    margin: 6.25rem auto;
    padding-top: 10px;
    padding-bottom: 20px;
    border-radius: 5px;
}

.hero-content h1 {
    font-size: 3em;
    margin: 0;
}

.hero-content p {
    font-size: 1.2em;
    margin: 1em 0;
    color: #fff;
}

/* Modal */
.modal-content {
    background-color: #333;
    color: #fff;
}

.modal-content .list-group {
    background-color:rgb(203, 177, 152);
}

.modal-content .list-group-item a {
    color: #333;
    text-decoration: none !important;
}

.modal-content .list-group-item:hover {
    background-color: #550f0f;
}

.modal-content .list-group-item a:hover {
    color:#fff;
}

.modal-content .btn-close {
    color: #fff;
    opacity: 0.8;
}

.modal-content .btn-close:hover {
    opacity: 1;
}

/* Scroll down */
.scroll-down {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    text-decoration: none;
    animation: bounce 2s infinite;
}

a.scroll-down i {
    font-size: 30px;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-10px);
    }
    60% {
        transform: translateY(-5px);
    }
}


/* Card Spacing and Responsiveness */
 .card {
    border: none;
    border-radius: 10px;
    overflow: hidden;
    margin: 10px;
}

.card-img-top {
    object-fit: cover;
    height: 50vh;
}

/* Custom carousel and recipe styles */
.custom-recipe-col {
    transition: transform 0.3s ease-in-out;
}

.card {
    border: none;
    border-radius: 10px;
    overflow: hidden;
}

.carousel-control-prev, .carousel-control-next {
    top: 50%;
    transform: translateY(-50%);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #550f0f;
    border-radius: 50%;
    padding: 10px;
}

.carousel-inner {
    padding: 20px 0;
}

/* Recipe_detail page */
.recipe-detail {
    margin-top: 3.5rem !important;
    margin-bottom: 2.5rem !important;
}

.rating span {
    margin-right: 2px;
}

/* Comment section */
textarea#id_body {
    resize: vertical;
    min-height: 250px;
    max-height: 400px;
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.3);
}


/* footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 2rem;
    min-height: 100px; 
    box-sizing: border-box;
}

footer i {
    text-decoration: none;
    font-size: 14px;
    color: #fff;
}

/* Media Queries */
  
@media (min-width: 768px) {
    .hero-content {
        max-width: 70%;
        margin-top: 6.25rem;
    }

    .hero-content h1 {
        font-size: 4em;
        margin: 0;
    }
    
    .hero-content p {
        font-size: 1.5em;
        margin: 1em 0;
        color: #fff;
    }
        
    /* recipe-detailed page */
    .recipe-detail h1 {
        text-align: center;
    }

    textarea#id_body {
        min-height: 200px;
    }
}

@media (min-width: 1200px) {
    .hero-content h1 {
        font-size: 5em;
        margin: 0;
    }
    
    .hero-content p {
        font-size: 2em;
        margin: 1em 0;
        color: #fff;
    }
}
